.heading{
     background-color: palevioletred;
     color: white;
     text-align: left;
}

.para{
     font-size: 18px;
     line-height: 1.5;
     margin-bottom: 20px;
     color: blueviolet;
     background-color: azure;

}